@import url("../css/normalize.css");
@font-face {
  font-family: 'Gothic';
  font-display: swap;
  src: url("../fonts/DidactGothic-Regular.woff") format("woff"), url("../fonts/DidactGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Stalinist';
  font-display: swap;
  src: url("../fonts/StalinistOne-Regular.woff") format("woff"), url("../fonts/StalinistOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Icomoon';
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 30px;
  background: whitesmoke;
  font-family: 'Gothic', sans-serif;
  color: #3d4d28; }
  @media (max-width: 766.98px) {
    html,
    body {
      font-size: 20px; } }
  @media (max-width: 479.98px), (max-height: 500px) {
    html,
    body {
      font-size: 16px; } }

.wrapper {
  min-height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0s;
  transition: opacity 0.6s ease 0s; }
  .wrapper._loaded {
    opacity: 1; }

.header {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(230, 229, 229, 0.6);
          box-shadow: 0 1px 2px rgba(230, 229, 229, 0.6);
  width: calc(100% - 9px);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*
      @media (max-width: 1000px) {
          .menu {
  
          }
          .body-menu {
              &__logo {
                  flex: 0 0 auto;
                  width: 161px;
                  overflow: hidden;
                  margin: 0 0 30px 20px;
                  img {
                      width: 100%;
                      height: auto;
                  }
                  &.active {
                      display: block;
                  }
              }
              &__list {
                  flex: 0 1 auto;
                  display: block;
                  li {
                      margin: 0;
                  }
              }
              &__link {
                  display: block;
                  color: rgba(60,70,78,1);
                  padding: 15px 1px;
                  margin: 0 0 1px 0;
                  &:last-child {
                      margin: 0;
                  }
                  &:hover {
                      color: rgba(53,160,238,1);
                  }
              }
              &__top {
                  flex: 0 1 auto;
                  margin: 0 0 30px 0;
              }
              &__bottom {
                  flex: 0 1 auto;
                  color: rgba(60, 70, 78, 1);
                  padding: 0 0 30px 0;
                  p {
                      margin: 0;
                  }
                  &.active {
                      display: block;
                      z-index: 3;
                  }
                  .if_icon {
                      padding: 0 0 0 37px;
                      position: relative;
                      &:before {
                          font-family: 'Icon1';
                          font-size: 15px;
                          position: absolute;
                          top: 0;
                          left: 0;
                          color: rgba(0, 141, 210, 1);
                      }
                  }
              }
              &__tel, &__address {
                  margin: 0 0 35px 0;
              }
          }
          &__address {
              margin: 0 3.5% 0 0;
          }
          &__time {
              margin: 0 8% 0 0;
          } 
      }
      @media (max-width:800px) {
          &__column {
              &_1 {
                  flex: 0 0 270px;
              }
          }
          &__logo {
              flex: 0 0 135px;
              margin: 0 20px 0 0;
          }
          .body-menu {
              &__logo {
                  width: 135px;
              }
          }
      }
      @media (max-width: 600px) {
          &__column {
              &_1 {
                  flex: 0 0 150px;
              }
          }
          .body-menu {
              &__bottom {
                  width: 100%;
                  padding: 53px 0 35px 0;
                  position: relative;
                  &:before {
                      content: '';
                      width: 70%;
                      height: 1px;
                      background: rgba(221, 221, 221, 1);
                      position: absolute;
                      top: 0;
                      left: 0;
                  }
              }
          }
          &__address, &__time, &__lang {
              display: none !important;
          }
      }
      @media (max-width:400px) {
          .menu {
              &__body {
                  width: 100%;
                  background:linear-gradient(to left, rgba(0, 60, 95, 1) 0, rgba(0, 60, 95, 1) 14px, rgba(10, 99, 151, 1) 14px, rgba(10, 99, 151, 1) 28px, rgba(0, 141, 210, 1) 28px,rgba(0, 141, 210, 1) 42px, rgba(255, 255, 255, 1) 42px, rgba(255, 255, 255, 1));
                  padding: 20px 62px 20px 44px;
              }
          }
          &__link {
              font-size: 0 !important;
              border: none;
              width: 19px;
              height: 19px;
              position: relative;
          }
      }*/ }
  .header .menu__burger {
    display: none; }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px; }
    .header .menu__list li {
      margin: 0 20px 0 0; }
      .header .menu__list li:last-child {
        margin: 0; }
  .header .menu__link {
    color: rgba(190, 190, 190, 0.9);
    font-size: 16px;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color .3s ease 0s;
    transition: color .3s ease 0s; }
    .header .menu__link._active {
      color: #d83200; }
  @media (min-width: 766.99px) {
    .header .menu__link:hover {
      color: rgba(216, 50, 0, 0.5); } }
  @media (max-width: 766.98px) {
    .header {
      width: calc(100% - 2px);
      height: 40px; }
      .header .menu__list li {
        margin: 0 8px 0 0; }
      .header .menu__link {
        font-size: 12px; } }
  @media (max-width: 540px), (max-height: 500px) {
    .header {
      background: transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
      width: auto;
      height: auto; }
      .header .menu__burger {
        display: block;
        position: fixed;
        top: 15px;
        left: 10px;
        width: 20px;
        height: 14px;
        cursor: pointer;
        z-index: 4; }
        .header .menu__burger span {
          background: white;
          -webkit-box-shadow: 0 0 2px #3d4d28;
                  box-shadow: 0 0 2px #3d4d28;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          top: 6px;
          -webkit-transition: all .3s ease 0s;
          transition: all .3s ease 0s; }
        .header .menu__burger:before, .header .menu__burger:after {
          content: '';
          background: white;
          -webkit-box-shadow: 0 0 2px #3d4d28;
                  box-shadow: 0 0 2px #3d4d28;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          -webkit-transition: all .3s ease 0s;
          transition: all .3s ease 0s; }
        .header .menu__burger:before {
          top: 0; }
        .header .menu__burger:after {
          bottom: 0; }
        .header .menu__burger.active:before {
          background: #d83200;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 6px; }
        .header .menu__burger.active:after {
          background: #d83200;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          bottom: 6px; }
        .header .menu__burger.active span {
          background: #d83200;
          -webkit-transform: scale(0);
                  transform: scale(0); }
      .header .menu__body {
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        height: 100%;
        width: auto;
        top: 0;
        left: -100%;
        overflow: auto;
        padding: 15px 30px 30px 40px;
        -webkit-transition: all .3s ease 0s;
        transition: all .3s ease 0s; }
        .header .menu__body.active {
          left: 0;
          z-index: 3; }
      .header .menu__list {
        display: block; }
        .header .menu__list li {
          width: 100%;
          margin: 0 0 20px 0; }
      .header .menu__link {
        display: block;
        color: #7e7e7e;
        font-size: 16px;
        font-weight: 600;
        text-align: left; } }

/*
.header {
    position: fixed;
    width: calc(100% - 9px);
    top: 0;
    left: 0;
    z-index: 50;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    transform: translate(0, - 100%);
    @media (max-width: 540px), (max-height: 500px) {
        background: transparent;
        width: auto;
        height: auto;
    }
}
.menu {
    display: flex;
    min-height: 40px;
    align-items: center;
    &__burger {
        display: none;
    }
    &__body {
        margin: 0;
    }
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        li {
            margin: 0 20px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    &__link {
        color:  rgba(190, 190, 190, 0.9);
        font-size: 16px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        transition: color .3s ease 0s;
        &._active {
            color: rgba(216, 50, 0, 1);
        }
    }
    @media (min-width: 766.99px) {
        &__link {
            &:hover {
                color: rgba(216, 50, 0, .5);
            }
        }
    }
    @media (max-width: 766.98px) {
        &__list {
            li {
                margin: 0 8px 0 0;
            }
        }
        &__link {
            font-size: 12px;
        }
    }
    @media (max-width: 540px), (max-height: 500px) {
        &__burger {
            display: block;
            position: fixed;
            top: 15px;
            left: 10px;
            width: 20px;
            height: 14px;
            cursor: pointer;
            z-index: 4;
            span {
                background: rgba(255, 255, 255, 1);
                box-shadow: 0 0 2px rgba(61, 77, 40, 1);
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 6px;
                transition: all .3s ease 0s;
            }
            &:before, &:after {
                content: '';
                background: rgba(255, 255, 255, 1);
                box-shadow: 0 0 2px rgba(61, 77, 40, 1);
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all .3s ease 0s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            &.active {
                &:before {
                    background: rgba(216, 50, 0, 1);
                    transform: rotate(45deg);
                    top: 6px;
                }
                &:after {
                    background: rgba(216, 50, 0, 1);
                    transform: rotate(-45deg);
                    bottom: 6px;
                }
                span {
                    background: rgba(216, 50, 0, 1);
                    transform: scale(0);
                }
            }
        }
        &__body {
            position: fixed;
            height: 100vh;
            width: auto;
            overflow: auto;
            top: 0;
            left: 0;
            padding: 15px 30px 30px 40px;
            background: rgba(255, 255, 255, .9);
            border: 1px solid rgba(111, 122, 95, .3);
            transform: translate(-100%, 0);
            transition: all .3s ease 0s;
            &.active {
                transform: translate(0, 0);
                z-index: 3;
            }
        }
        &__list {
            display: block;
            li {
                width: 100%;
                margin: 0 0 20px 0;
            }
        }
        &__link {
            display: block;
            color:  rgb(126, 126, 126);
            font-size: 16px;
            font-weight: 600;
            text-align: left;
        }
    }
    @media (max-height: 350px) {
        &__body {
            padding: 15px 30px 80px 40px;
        }
    }
}
*/
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%; }
  .page__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: inset 2px 0px 3px 0px rgba(128, 128, 128, 0.5);
            box-shadow: inset 2px 0px 3px 0px rgba(128, 128, 128, 0.5);
    overflow: hidden; }
  .page__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
    background-color: #fdd76c;
    -webkit-box-shadow: 6px 5px 14px 2px rgba(128, 128, 128, 0.5);
            box-shadow: 6px 5px 14px 2px rgba(128, 128, 128, 0.5);
    cursor: pointer;
    -webkit-transition: all .3s ease 0s !important;
    transition: all .3s ease 0s !important; }
  @media (min-width: 766.99px) {
    .page__drag-scroll:hover {
      background: #ff7504; } }
  @media (max-width: 766.98px) {
    .page__scroll {
      width: 2px; }
    .page__drag-scroll {
      width: 100%; } }

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .screen__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
  .screen__title {
    color: #ff7504;
    text-shadow: 1px 1px 1px whitesmoke, -1px -1px 1px whitesmoke, 1px -1px 1px whitesmoke, -1px 1px 1px whitesmoke;
    font-family: 'Stalinist';
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase; }
    .screen__title_m {
      color: #ff3f04;
      font-size: 50px; }
  .screen__content {
    padding: 70px 5% 50px 5%;
    position: relative;
    z-index: 2; }
  .screen__box {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .screen__box_1 {
      margin: 30px auto 0 auto; }
    .screen__box_2 {
      margin: 0 auto; }
  .screen__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .screen__column_1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.333%;
              flex: 0 0 33.333%;
      line-height: 110%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .screen__column_2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .screen__column span {
      font-weight: 800;
      color: #e63600; }
  .screen__text span {
    font-weight: 800;
    text-transform: uppercase;
    color: #bd2d01; }
  .screen__li {
    background: url("../img/star.png") left 50%/20px auto no-repeat;
    padding: 0 0 0 30px; }
  .screen__iconbar {
    text-align: center; }
  .screen__link {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 2px 0 0;
    overflow: hidden; }
    .screen__link:last-child {
      margin: 0; }
  .screen__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .screen__image img {
      position: absolute;
      width: 25%;
      height: auto;
      right: 50px; }
  .screen__timer {
    text-align: center; }
  .screen:nth-child(2n) .screen__title, .screen:last-child .screen__title {
    text-align: center; }
  .screen:first-child .screen__text {
    width: 70%;
    font-size: 40px; }
  .screen:first-child .screen__image img {
    bottom: 0; }
  .screen:nth-child(2) .screen__body {
    background: white; }
  .screen:nth-child(3) .screen__image img {
    top: 0; }
  .screen:nth-child(4) .screen__body {
    background: rgba(255, 117, 4, 0.1); }
  .screen:nth-child(6) .screen__image {
    opacity: .5; }
    .screen:nth-child(6) .screen__image img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      bottom: 0;
      right: 0; }
  .screen:nth-child(7) .screen__image img {
    width: 10%;
    top: 30px; }
  .screen:nth-child(8) .screen__body {
    background: #ffffc9; }
  .screen:nth-child(8) .screen__title {
    margin: 0 0 2em 0; }
  .screen:nth-child(8) .screen__image img {
    bottom: 0; }
  .screen:last-child .screen__text {
    text-align: center; }
  .screen:last-child .screen__image img {
    width: 15%;
    bottom: 30px;
    left: 30px; }
  @media (max-height: 500px) {
    .screen:first-child {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (max-width: 766.98px), (max-height: 500px) {
    .screen__content {
      padding: 30px 5% 30px 5%; }
    .screen__title {
      font-size: 26px; }
      .screen__title_m {
        font-size: 35px; }
    .screen__box {
      width: 90%; }
    .screen:first-child .screen__text {
      font-size: 18px; } }
  @media (max-width: 479.98px) {
    .screen__title {
      font-size: 20px; }
      .screen__title_m {
        font-size: 24px; }
    .screen__box {
      width: 100%; } }

.column {
  margin: 0 10px 0 0;
  position: relative; }
  .column:last-child {
    margin: 0; }
  .column__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .column__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 15px 0;
    -webkit-box-shadow: 1px 1px 5px 3px rgba(126, 75, 34, 0.3);
            box-shadow: 1px 1px 5px 3px rgba(126, 75, 34, 0.3); }
    .column__photo img {
      width: 100%;
      height: auto; }
  .column__text {
    font-size: 20px; }
    .column__text p {
      margin: .5em 0; }
  @media (max-height: 500px) {
    .column {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .column__top {
        margin: 0 10px 0 0; }
      .column__title {
        text-align: center; }
      .column__text {
        text-align: right; } }
  @media (max-width: 766.98px), (max-height: 500px) {
    .column__photo {
      width: 70px;
      height: 70px; } }
  @media (max-width: 570px), (max-height: 500px) {
    .column__text {
      font-size: 14px !important; } }

.form {
  width: 80%;
  margin: 0 auto;
  padding: 0; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .form__input {
    height: 50px;
    padding: 0 20px;
    border: 1px solid #eeeded;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0; }
    .form__input:focus {
      -webkit-box-shadow: inset 0px 0px 5px 0px #d4d4d4;
              box-shadow: inset 0px 0px 5px 0px #d4d4d4; }
    .form__input:first-child {
      margin: 0 20px 20px 0; }
    .form__input_i {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
    .form__input_s {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 0 100px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: white;
      background: #ce1f00;
      -webkit-transition: color .3s ease 0s, background .3s ease 0s, border .3s ease 0s;
      transition: color .3s ease 0s, background .3s ease 0s, border .3s ease 0s; }
  @media (max-width: 1198.98px) {
    .form {
      width: 90%; } }
  @media (max-width: 990.98px) {
    .form {
      width: 100%; }
      .form__row {
        display: block; }
      .form__input {
        width: 80%;
        height: 45px;
        margin: 0 0 15px 0; }
        .form__input:first-child {
          margin: 0 0 15px 0; }
        .form__input_s {
          width: auto; } }
  @media (min-width: 766.99px) {
    .form__input_s:hover {
      color: #ce1f00;
      background: white;
      border: 1px solid #ce1f00; } }
  @media (max-width: 479.98px) {
    .form__input {
      width: 100%;
      margin: 0 0 10px 0; }
      .form__input:first-child {
        margin: 0 0 10px 0; }
      .form__input_s {
        width: auto;
        padding: 0 40px; } }

.timer__number {
  background: white;
  padding: 20px 12px;
  color: #d83200;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #ebd65f;
  border: 1px solid #ce1f00;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px 1px rgba(236, 227, 177, 0.5);
          box-shadow: 2px 3px 3px 1px rgba(236, 227, 177, 0.5); }
  @media (max-width: 766.98px) {
    .timer__number {
      padding: 15px 12px;
      font-size: 40px; } }
  @media (max-width: 479.98px) {
    .timer__number {
      font-size: 30px; } }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-size: 50px;
  color: black;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }
  @media (min-width: 766.99px) {
    [class^="icon-"]:hover, [class*=" icon-"]:hover {
      color: #007e7e; } }
  @media (max-width: 766.98px) {
    [class^="icon-"], [class*=" icon-"] {
      font-size: 40px; } }

.icon-email:before {
  content: "\e900"; }
.icon-facebook:before {
  content: "\e901"; }
.icon-telegram:before {
  content: "\e902"; }

/*# sourceMappingURL=style.css.map */