@import url("../css/normalize.css");
@font-face {
  font-family: 'Gothic';
  font-display: swap;
  src: url("../fonts/DidactGothic-Regular.woff") format("woff"), url("../fonts/DidactGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Stalinist';
  font-display: swap;
  src: url("../fonts/StalinistOne-Regular.woff") format("woff"), url("../fonts/StalinistOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Icomoon';
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 30px;
  background: whitesmoke;
  font-family: 'Gothic', sans-serif;
  color: #3d4d28; }
  @media (max-width: 766.98px) {
    html,
    body {
      font-size: 20px; } }

.wrapper {
  min-height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease 0s;
  transition: opacity 0.6s ease 0s; }
  .wrapper._loaded {
    opacity: 1; }
    .wrapper._loaded .header {
      -webkit-transition: -webkit-transform 0.6s ease 0.5s;
      transition: -webkit-transform 0.6s ease 0.5s;
      transition: transform 0.6s ease 0.5s;
      transition: transform 0.6s ease 0.5s, -webkit-transform 0.6s ease 0.5s;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }

.header {
  position: fixed;
  width: calc(100% - 9px);
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%); }
  @media (max-width: 766.98px) {
    .header {
      display: none; } }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu__link {
    color: rgba(190, 190, 190, 0.9);
    font-size: 16px;
    margin: 0 20px 0 0;
    white-space: nowrap;
    -webkit-transition: color .3s ease 0s;
    transition: color .3s ease 0s; }
    .menu__link:last-child {
      margin: 0; }
    .menu__link:hover {
      color: rgba(216, 50, 0, 0.5); }
    .menu__link._active {
      color: #d83200; }

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%; }
  .page__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: inset 2px 0px 3px 0px rgba(128, 128, 128, 0.5);
            box-shadow: inset 2px 0px 3px 0px rgba(128, 128, 128, 0.5);
    overflow: hidden; }
  .page__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
    background-color: #fdd76c;
    -webkit-box-shadow: 6px 5px 14px 2px rgba(128, 128, 128, 0.5);
            box-shadow: 6px 5px 14px 2px rgba(128, 128, 128, 0.5);
    cursor: pointer;
    -webkit-transition: all .3s ease 0s !important;
    transition: all .3s ease 0s !important; }
    .page__drag-scroll:hover {
      background: #ff7504; }

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .screen__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
  .screen__title {
    color: #ff7504;
    font-family: 'Stalinist';
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase; }
    .screen__title_m {
      color: #ff3f04;
      font-size: 50px; }
    @media (max-width: 766.98px) {
      .screen__title {
        font-size: 26px; }
        .screen__title_m {
          font-size: 35px; } }
  .screen__content {
    padding: 50px 5% 30px 5%;
    position: relative;
    z-index: 2; }
  .screen__box {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .screen__box_1 {
      margin: 30px auto 0 auto; }
    .screen__box_2 {
      margin: 0 auto; }
  .screen__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .screen__column_1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.333%;
              flex: 0 0 33.333%;
      line-height: 110%; }
    .screen__column_2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
    .screen__column span {
      font-weight: 800;
      color: #e63600; }
  .screen__text span {
    font-weight: 800;
    text-transform: uppercase;
    color: #bd2d01; }
  .screen__li {
    background: url("../img/star.png") left 50%/20px auto no-repeat;
    padding: 0 0 0 30px; }
  .screen__iconbar {
    text-align: center; }
  .screen__link {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 2px 0 0;
    overflow: hidden; }
    .screen__link:last-child {
      margin: 0; }
  .screen__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .screen__image img {
      position: absolute;
      width: 25%;
      height: auto;
      right: 50px; }
  .screen__timer {
    text-align: center; }
  .screen:nth-child(2n) .screen__title, .screen:last-child .screen__title {
    text-align: center; }
  .screen:first-child .screen__text {
    width: 70%;
    font-size: 40px; }
    @media (max-width: 766.98px) {
      .screen:first-child .screen__text {
        font-size: 28px; } }
  .screen:first-child .screen__image img {
    bottom: 0; }
  .screen:nth-child(2) .screen__body {
    background: white; }
  .screen:nth-child(3) .screen__image img {
    top: 0; }
  .screen:nth-child(4) .screen__body {
    background: rgba(255, 117, 4, 0.1); }
  .screen:nth-child(6) .screen__image {
    opacity: .5; }
    .screen:nth-child(6) .screen__image img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      bottom: 0;
      right: 0; }
  .screen:nth-child(7) .screen__image img {
    width: 10%;
    top: 30px; }
  .screen:nth-child(8) .screen__body {
    background: #ffffc9; }
  .screen:nth-child(8) .screen__title {
    margin: 0 0 2em 0; }
  .screen:nth-child(8) .screen__image img {
    bottom: 0; }
  .screen:last-child .screen__text {
    text-align: center; }
  .screen:last-child .screen__image img {
    width: 15%;
    bottom: 30px;
    left: 30px; }

.column__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 15px 0;
  -webkit-box-shadow: 1px 1px 5px 3px rgba(126, 75, 34, 0.3);
          box-shadow: 1px 1px 5px 3px rgba(126, 75, 34, 0.3); }
  .column__photo img {
    width: 100%;
    height: auto; }
.column__text {
  font-size: 20px; }
  .column__text p {
    margin: .5em 0; }

.form {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form__input {
    height: 50px;
    padding: 0 20px;
    border: 1px solid #eeeded;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form__input:focus {
      -webkit-box-shadow: inset 0px 0px 5px 0px #d4d4d4;
              box-shadow: inset 0px 0px 5px 0px #d4d4d4; }
    .form__input:first-child {
      margin: 0 20px 20px 0; }
    .form__input_i {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 45%;
              flex: 1 0 45%; }
    .form__input_s {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 0 100px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: white;
      background: #ce1f00;
      -webkit-transition: color .3s ease 0s, background .3s ease 0s, border .3s ease 0s;
      transition: color .3s ease 0s, background .3s ease 0s, border .3s ease 0s; }
      .form__input_s:hover {
        color: #ce1f00;
        background: white;
        border: 1px solid #ce1f00; }

.timer__number {
  background: white;
  padding: 20px 12px;
  color: #d83200;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #ebd65f;
  border: 1px solid #ce1f00;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px 1px rgba(236, 227, 177, 0.5);
          box-shadow: 2px 3px 3px 1px rgba(236, 227, 177, 0.5); }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-size: 50px;
  color: black;
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }
  [class^="icon-"]:hover, [class*=" icon-"]:hover {
    color: #007e7e; }

.icon-email:before {
  content: "\e900"; }
.icon-facebook:before {
  content: "\e901"; }
.icon-telegram:before {
  content: "\e902"; }

/*# sourceMappingURL=style.css.map */